**Notebook 2**: *Exploratory Data Analysis*

In [1]:
pip install pandas seaborn

Requirement already satisfied: pandas in /home/alejandra/anaconda3/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: seaborn in /home/alejandra/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: numpy>=1.13.3 in /home/alejandra/.local/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: matplotlib>=1.4.3 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from seaborn) (3.1.1)
Requirement already satisfied: scipy>=0.14.0 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from seaborn) (1.3.1)
Requirement already satisfied: six>=1.5 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: cycler>=0.10 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/alejandra/anaconda3/lib/python3.7/site-packages (from matplotlib>=1.4.3->seaborn) (2.4.2)
Requirement already satisfied: setuptools in /home/alejandra/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (41.4.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Pandas: para tratar con datos estructurados
import pandas as pd
#Numpy: para hacer operaciones básicas
import numpy as np
#Redondear resultados a centésimas
pd.set_option("display.precision",2)

In [6]:
#Plots estadísticos
import seaborn as sns

In [71]:
#Leyendo los datos
#csv significa comma separated values
df = pd.read_csv("neos.csv")

In [72]:
#de.head(n) n primeras filas de la data
#default=5
df.head(10)

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.6,1.27e-01,0.28,127.22,284.47,7.91e-02,0.18,417.39,...,314.37,609.60,0.81,57.26,2.01,2.46e+06,264.84,0.59,J2000,True
1,3723955,3723955,21.3,1.46e-01,0.33,146.07,326.62,9.08e-02,0.20,479.23,...,136.72,425.87,0.72,313.09,1.50,2.46e+06,173.74,0.85,J2000,False
2,2446862,2446862,20.3,2.32e-01,0.52,231.50,517.65,1.44e-01,0.32,759.52,...,259.48,643.58,0.95,248.42,1.97,2.46e+06,292.89,0.56,J2000,True
3,3092506,3092506,27.4,8.80e-03,0.02,8.80,19.68,5.47e-03,0.01,28.88,...,57.17,514.08,0.98,18.71,1.53,2.46e+06,68.74,0.70,J2000,False
4,3514799,3514799,21.6,1.27e-01,0.28,127.22,284.47,7.91e-02,0.18,417.39,...,84.63,495.60,0.97,158.26,1.48,2.46e+06,135.14,0.73,J2000,True
5,3671135,3671135,19.6,3.20e-01,0.71,319.56,714.56,1.99e-01,0.44,1048.43,...,178.97,556.16,0.58,198.15,2.07,2.46e+06,354.24,0.65,J2000,False
6,2495323,2495323,19.6,3.20e-01,0.71,319.56,714.56,1.99e-01,0.44,1048.43,...,178.97,556.16,0.58,198.15,2.07,2.46e+06,354.24,0.65,J2000,False
7,2153315,2153315,19.2,3.84e-01,0.86,384.20,859.09,2.39e-01,0.53,1260.49,...,112.56,502.81,0.68,288.37,1.79,2.46e+06,186.78,0.72,J2000,False
8,2162463,2162463,17.8,7.32e-01,1.64,732.07,1636.97,4.55e-01,1.02,2401.82,...,80.21,447.84,0.87,353.42,1.42,2.46e+06,182.24,0.80,J2000,False
9,2306383,2306383,21.5,1.33e-01,0.30,133.22,297.88,8.28e-02,0.19,437.06,...,2.61,299.54,0.39,253.77,1.36,2.46e+06,119.86,1.20,J2000,True

In [73]:
#Dimensión de datos
df.shape

(4687, 40)

In [74]:
#Número de datos
df.shape[0]*df.shape[1]

187480

In [75]:
#Cabeceras de los datos
df.columns

Index(['Neo Reference ID', 'Name', 'Absolute Magnitude', 'Est Dia in KM(min)',
       'Est Dia in KM(max)', 'Est Dia in M(min)', 'Est Dia in M(max)',
       'Est Dia in Miles(min)', 'Est Dia in Miles(max)',
       'Est Dia in Feet(min)', 'Est Dia in Feet(max)', 'Close Approach Date',
       'Epoch Date Close Approach', 'Relative Velocity km per sec',
       'Relative Velocity km per hr', 'Miles per hour',
       'Miss Dist.(Astronomical)', 'Miss Dist.(lunar)',
       'Miss Dist.(kilometers)', 'Miss Dist.(miles)', 'Orbiting Body',
       'Orbit ID', 'Orbit Determination Date', 'Orbit Uncertainity',
       'Minimum Orbit Intersection', 'Jupiter Tisserand Invariant',
       'Epoch Osculation', 'Eccentricity', 'Semi Major Axis', 'Inclination',
       'Asc Node Longitude', 'Orbital Period', 'Perihelion Distance',
       'Perihelion Arg', 'Aphelion Dist', 'Perihelion Time', 'Mean Anomaly',
       'Mean Motion', 'Equinox', 'Hazardous'],
      dtype='object')

In [76]:
#Para saber en qué formato están los datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 40 columns):
Neo Reference ID                4687 non-null int64
Name                            4687 non-null int64
Absolute Magnitude              4687 non-null float64
Est Dia in KM(min)              4687 non-null float64
Est Dia in KM(max)              4687 non-null float64
Est Dia in M(min)               4687 non-null float64
Est Dia in M(max)               4687 non-null float64
Est Dia in Miles(min)           4687 non-null float64
Est Dia in Miles(max)           4687 non-null float64
Est Dia in Feet(min)            4687 non-null float64
Est Dia in Feet(max)            4687 non-null float64
Close Approach Date             4687 non-null object
Epoch Date Close Approach       4687 non-null int64
Relative Velocity km per sec    4687 non-null float64
Relative Velocity km per hr     4687 non-null float64
Miles per hour                  4687 non-null float64
Miss Dist.(Astronomical)        4687 non-null float64
Miss Dist.(lunar)               4687 non-null float64
Miss Dist.(kilometers)          4687 non-null float64
Miss Dist.(miles)               4687 non-null float64
Orbiting Body                   4687 non-null object
Orbit ID                        4687 non-null int64
Orbit Determination Date        4687 non-null object
Orbit Uncertainity              4687 non-null int64
Minimum Orbit Intersection      4687 non-null float64
Jupiter Tisserand Invariant     4687 non-null float64
Epoch Osculation                4687 non-null float64
Eccentricity                    4687 non-null float64
Semi Major Axis                 4687 non-null float64
Inclination                     4687 non-null float64
Asc Node Longitude              4687 non-null float64
Orbital Period                  4687 non-null float64
Perihelion Distance             4687 non-null float64
Perihelion Arg                  4687 non-null float64
Aphelion Dist                   4687 non-null float64
Perihelion Time                 4687 non-null float64
Mean Anomaly                    4687 non-null float64
Mean Motion                     4687 non-null float64
Equinox                         4687 non-null object
Hazardous                       4687 non-null bool
dtypes: bool(1), float64(30), int64(5), object(4)
memory usage: 1.4+ MB

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 40 columns):
Neo Reference ID                4687 non-null int64
Name                            4687 non-null int64
Absolute Magnitude              4687 non-null float64
Est Dia in KM(min)              4687 non-null float64
Est Dia in KM(max)              4687 non-null float64
Est Dia in M(min)               4687 non-null float64
Est Dia in M(max)               4687 non-null float64
Est Dia in Miles(min)           4687 non-null float64
Est Dia in Miles(max)           4687 non-null float64
Est Dia in Feet(min)            4687 non-null float64
Est Dia in Feet(max)            4687 non-null float64
Close Approach Date             4687 non-null object
Epoch Date Close Approach       4687 non-null int64
Relative Velocity km per sec    4687 non-null float64
Relative Velocity km per hr     4687 non-null float64
Miles per hour                  4687 non-null float64
Miss Dist.(Astronomical)        4687 non-null float64
Miss Dist.(lunar)               4687 non-null float64
Miss Dist.(kilometers)          4687 non-null float64
Miss Dist.(miles)               4687 non-null float64
Orbiting Body                   4687 non-null object
Orbit ID                        4687 non-null int64
Orbit Determination Date        4687 non-null object
Orbit Uncertainity              4687 non-null int64
Minimum Orbit Intersection      4687 non-null float64
Jupiter Tisserand Invariant     4687 non-null float64
Epoch Osculation                4687 non-null float64
Eccentricity                    4687 non-null float64
Semi Major Axis                 4687 non-null float64
Inclination                     4687 non-null float64
Asc Node Longitude              4687 non-null float64
Orbital Period                  4687 non-null float64
Perihelion Distance             4687 non-null float64
Perihelion Arg                  4687 non-null float64
Aphelion Dist                   4687 non-null float64
Perihelion Time                 4687 non-null float64
Mean Anomaly                    4687 non-null float64
Mean Motion                     4687 non-null float64
Equinox                         4687 non-null object
Hazardous                       4687 non-null bool
dtypes: bool(1), float64(30), int64(5), object(4)
memory usage: 1.4+ MB

In [78]:
#Peligrosos. Asteroides con mayor riesgo de colisión
df['Hazardous']

0        True
1       False
2        True
3       False
4        True
        ...
4682    False
4683    False
4684    False
4685    False
4686    False
Name: Hazardous, Length: 4687, dtype: bool

In [79]:
#Convertir a True = 1, False = 0
df['Hazardous'] = df['Hazardous'].astype('int64')

EDA 

*Análisis de datos exploratorios*

In [80]:
#Información importante (tendencias y eso)
df.describe()

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Inclination,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Hazardous
count,4.69e+03,4.69e+03,4687.00,4.69e+03,4.69e+03,4687.00,4687.00,4.69e+03,4.69e+03,4687.00,...,4687.00,4.69e+03,4687.00,4687.00,4.69e+03,4687.00,4.69e+03,4.69e+03,4687.00,4687.00
mean,3.27e+06,3.27e+06,22.27,2.05e-01,4.58e-01,204.60,457.51,1.27e-01,2.84e-01,671.27,...,13.37,1.72e+02,635.58,0.81,1.84e+02,1.99,2.46e+06,1.81e+02,0.74,0.16
std,5.49e+05,5.49e+05,2.89,3.70e-01,8.26e-01,369.57,826.39,2.30e-01,5.13e-01,1212.51,...,10.94,1.03e+02,370.95,0.24,1.04e+02,0.95,9.44e+02,1.08e+02,0.34,0.37
min,2.00e+06,2.00e+06,11.16,1.01e-03,2.26e-03,1.01,2.26,6.28e-04,1.40e-03,3.32,...,0.01,1.94e-03,176.56,0.08,6.92e-03,0.80,2.45e+06,3.19e-03,0.09,0.00
25%,3.10e+06,3.10e+06,20.10,3.35e-02,7.48e-02,33.46,74.82,2.08e-02,4.65e-02,109.78,...,4.96,8.31e+01,365.61,0.63,9.56e+01,1.27,2.46e+06,8.70e+01,0.45,0.00
50%,3.51e+06,3.51e+06,21.90,1.11e-01,2.48e-01,110.80,247.77,6.89e-02,1.54e-01,363.53,...,10.31,1.73e+02,504.95,0.83,1.90e+02,1.62,2.46e+06,1.86e+02,0.71,0.00
75%,3.69e+06,3.69e+06,24.50,2.54e-01,5.68e-01,253.84,567.60,1.58e-01,3.53e-01,832.80,...,19.51,2.55e+02,794.20,1.00,2.72e+02,2.45,2.46e+06,2.77e+02,0.98,0.00
max,3.78e+06,3.78e+06,32.10,1.56e+01,3.48e+01,15579.55,34836.94,9.68e+00,2.16e+01,51114.02,...,75.41,3.60e+02,4172.23,1.30,3.60e+02,8.98,2.46e+06,3.60e+02,2.04,1.00

In [81]:
#El asteroide más grande
df['Est Dia in KM(max)'].max()

34.836938254

In [82]:
#Datos del asteroide más grande
df[df['Est Dia in KM(max)'] == df['Est Dia in KM(max)'].max()]

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
1716,2000433,2000433,11.16,15.58,34.84,15579.55,34836.94,9.68,21.65,51114.02,...,304.32,643.0,1.13,178.82,1.78,2.46e+06,71.28,0.56,J2000,0

In [83]:
#Cuántos asteroides peligros tengo
df['Hazardous'].value_counts()

0    3932
1     755
Name: Hazardous, dtype: int64

In [112]:
#Cuántos de estos asteorides peligrosos tienen un semi-eje mayor que una unidad astronómica

#Generar un DataFrame con los asteroides peligrosos
df_haz = df[df['Hazardous'] == 1]
#Seleccionar los Apolo y mostrar su tamaño
df_haz[df_haz['Semi Major Axis'] > 1]

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.6,0.13,0.28,127.22,284.47,0.08,0.18,417.39,...,314.37,609.60,0.81,57.26,2.01,2.46e+06,264.84,0.59,J2000,1
2,2446862,2446862,20.3,0.23,0.52,231.50,517.65,0.14,0.32,759.52,...,259.48,643.58,0.95,248.42,1.97,2.46e+06,292.89,0.56,J2000,1
4,3514799,3514799,21.6,0.13,0.28,127.22,284.47,0.08,0.18,417.39,...,84.63,495.60,0.97,158.26,1.48,2.46e+06,135.14,0.73,J2000,1
25,3646046,3646046,21.3,0.15,0.33,146.07,326.62,0.09,0.20,479.23,...,149.16,470.57,0.89,55.22,1.48,2.46e+06,141.03,0.77,J2000,1
27,2162173,2162173,19.3,0.37,0.82,366.91,820.43,0.23,0.51,1203.76,...,251.59,473.89,0.96,211.45,1.42,2.46e+06,154.02,0.76,J2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4662,3744785,3744785,19.3,0.37,0.82,366.91,820.43,0.23,0.51,1203.76,...,138.57,772.45,0.70,100.27,2.59,2.46e+06,205.76,0.47,J2000,1
4663,3755345,3755345,21.5,0.13,0.30,133.22,297.88,0.08,0.19,437.06,...,136.76,385.97,0.94,39.29,1.14,2.46e+06,142.26,0.93,J2000,1
4665,2333578,2333578,20.2,0.24,0.54,242.41,542.05,0.15,0.34,795.32,...,169.50,721.12,0.98,196.95,2.17,2.46e+06,177.33,0.50,J2000,1
4668,3475236,3475236,21.6,0.13,0.28,127.22,284.47,0.08,0.18,417.39,...,54.44,630.86,0.63,256.06,2.25,2.46e+06,223.13,0.57,J2000,1
4674,2068346,2068346,16.9,1.11,2.48,1108.04,2477.65,0.69,1.54,3635.30,...,219.39,676.03,0.88,140.25,2.14,2.46e+06,189.23,0.53,J2000,1

In [111]:
df_haz[df_haz['Est Dia in KM(max)'] > 1].shape[0]

135